{% load static %}
<header class="header-area header-sticky ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav ">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index'%}" class="logo">Auto <em> Trader</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'index' %}" class="active">Home</a></li>
                        <li><a href="{% url 'Cars' %}">Cars</a></li>
                        <li><a href="{% url 'price' %}">Estimate Your Car</a></li>
                        {% if user.is_authenticated%}
                        <li 
                            {% if 'dashboard' in request.path %}
                                class = "nav-item active mr-3 selunder"
                            {% else%}
                                class="nav-item mr-3"
                            {% endif%}
                            >
                            <a href="{% url 'dashboard' %}">
                                <i></i> {{request.user.first_name}}(Dashboard)</a>
                            </li>
                            <li>
                                <a  href="javascript:{document.getElementById('logout').submit()}">
                                <i ></i>
                                Logout</a>
                                <form action="{% url 'logout' %}" method="POST" id="logout">
                                    {% csrf_token %}
                                    <input type="hidden">
                                </form>
                            </li>
                        {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Join Us</a>
                          
                            <div class="dropdown-menu">
                                <a class="dropdown-item"  href="{% url 'login' %}">Login</a>
                                <a class="dropdown-item"  href="{% url 'register' %}">Register</a> 
                            </div>
                        </li> 
                        {% endif %}
                       
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>